/* 

Primary Color: #6C63FF;

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inner{
    height: 75%;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 10px 10px 68px -6px rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
}

.photo{
    width: 80%;
    height: 80%;
    padding: 0 50px;
}
.photo img{
    width: 100%;
    height: 100%;
}
.user-form{
    background: #454444;
    padding: 50px;
    width: 50%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
}
.user-form h1{
    color: #fff;
    padding: 30px 0;
    font-weight: 700;
}
.user-form i{
    position: absolute;
    /* color: #6C63FF; */
    color:#fe745c;
    margin: 25px 10px;
}
  a{
    color:white;
    padding:30px 0;
    font-weight: 200;
}
input{
    width: 100%;
    border-radius: 30px;
    border: none;
    height: 3em;
    font-size: 15px;
    margin: 10px 0;
    padding: 0 30px;
}
.safety{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 12px;
    margin-top: 10px;
    padding: 0 5px;
}
.line{
    height: 6px;
    border-radius: 20px;
    width: 20%;
    background: #fff;
    margin: 5px;
}
span:nth-child(2){
    background-color: #fffc00;
}
span:nth-child(3){
    background-color: #fffc00;
}
.action-btn{
    width: 100%;
    display: flex;
    margin: 30px 0;
}
.btn{
    border: 1px solid #fff;
    color: #fff;
    padding: 10px;
    background: transparent;
    border-radius: 20px;
    width: 50%;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
	text-align:center;
}
.primary{
    border: none;
    /* background: #6c25be; */
    background:  #fe745c;
}
.pword .a{
    color:white;
}
/*addtion*/
.footer{
position:relative;
}
div.a{
position:absolute;
left:10%;
height:10px;
width:10px;
}
div.b{
position: absolute;
left:80%;
width:30px;
height:20px;
}
/*end*/

@media(max-width: 665px){
    .photo{
        display: none;
    }
    .user-form{
        width: 100%;
        border-radius: 10px;
    }
}
@media screen and (max-width: 990px) and (min-width: 665px){
    .action-btn{
        margin: 5px;
        display: block;
        width: 100%;
    }
    .btn{
        width: 100%;
        margin: 5px;
        padding: 5px;

    }
}
@media (max-width:400px) {
    .action-btn{
        width:200px;
        display:flex;
    }
   
}